!!!
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    -# %link{:href => "../../favicon.ico", :rel => "icon"}/
    - if current_page.data.title 
      %title Madek API Docs - #{current_page.data.title}
    - else
      %title Madek API Docs
    = stylesheet_link_tag "app"
    = javascript_include_tag "vendor"
    = javascript_include_tag "app"

  %body#the-cider-ci-documentation
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "/index.html", class: "navbar-brand" do
            Madek API 
            = partial 'semantic_version', locals: { semver: data.releases.releases.first }
            Documentation

        #navbar.navbar-collapse.collapse

          %ul.nav.navbar-nav
            - data.navigation.items.each do |nav_item| 
              - is_active=  "/"+current_path == nav_item["path"]
              - active_class = is_active ? " active " : ""
              - has_items = nav_item["items"] &&  nav_item["items"].count > 0
              - dropdown_class = has_items ? " dropdown" : ""
              %li.dropdown
                = link_to "#" ,class: "dropdown-toggle", data: {toggle: :dropdown} do
                  %strong= nav_item["title"]
                  %span.caret
                %ul.dropdown-menu
                  - if nav_item["path"]
                    %li
                      = link_to nav_item["path"] do
                        = nav_item["title"]
                  - nav_item["items"].each do |nav_item_sub| 
                    %li
                      = link_to nav_item_sub["path"] do
                        = nav_item_sub["title"]

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          - data.navigation.items.each do |nav_item| 
            %ul.nav.nav-sidebar
              - is_active=  "/"+current_path == nav_item["path"]
              %li{class: (is_active ? "active" : "")}
                - if nav_item["path"]
                  = link_to nav_item["path"] ,class: "alike" do
                    %strong= nav_item["title"]
                - else
                  %span.alike
                    %strong= nav_item["title"]
              - nav_item["items"].each do |nav_item_sub| 
                %ul.nav.nav-sidebar
                  - is_active_sub= "/"+current_path == nav_item_sub["path"]
                  %li{class: (is_active_sub ? "active" : "")}
                    = link_to nav_item_sub["path"] do
                      = nav_item_sub["title"]
                    - if is_active_sub
                      %ul.toc

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main

          = yield


